.grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: column;
    row-gap: 3em;
}

.ship-name {
    border: 2px solid black;
    justify-items: stretch;
}

.ship-name:hover{
    transform: translateY(0.25em);
}

.ship-data {
    background: rgba(44, 62, 80, .8);
    font-size: 20px;
    border: 2px solid black;

}
.hidden {
    visibility: hidden;
}

.jcr-info {
    grid-row: 1;
    grid-column: 2;
}

.es-info {
    grid-row: 2;
    grid-column: 2;
}

.jc-info {
    grid-row: 3;
    grid-column: 2;
}

.dis-info {
    grid-row: 4;
    grid-column: 2;
}