html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.container {
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;


}

.grid-container-border {
    border: solid 10px #add8e6;
    padding: 2em;

}

.grid-header1 {
    font-size: 3em;
    color: rgba(61, 177, 192, 0.5);
    text-align: center;
    align-self: center;

}

.ship {
    color: rgb(0, 191, 255);
    text-align: center;
    animation: fadeIn 5s ease 4s 1 normal both;
    /* padding-bottom: 2em; */

    
}

.ship:hover {
    color: lightblue
}


.typewriter-text {
    overflow: hidden;
    position: relative;
    width: 8em;
    white-space: nowrap;
    animation: typewriter 4s steps(64) 1s 1 normal both;
}

.fadeIn-text {
    overflow: hidden;
    position: relative;
    width: 20em;
    white-space: nowrap;
    justify-items: center;
    animation: fadeIn 4s ease 4s 1 normal both;
}

/* have to remove the container class from H1 to get rid of the text as well */
.map {
    /* width: 85%;
    height: 50%; */
    flex-grow: 3;

}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 15em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
}


.btn {
text-align: center;
text-decoration: none;
background-color: white;
border: 2px solid #add8e6;
white-space: nowrap;
color:  rgb(0, 191, 255);
padding: 1em;
cursor: pointer;
}



.btn:hover {
    border: 1px solid rgb(0, 191, 255);
    visibility: visible;

}

  div.grid-ship1:hover > button {
      display: inline-block;
      visibility: visible;
    }

  div.grid-ship2:hover > button {
    display: inline-block;
    visibility: visible;
}

div.grid-ship3:hover > button {
    display: inline-block;
    visibility: visible;
}

div.grid-ship3:hover > p {
    display: inline;
    visibility: visible;
    text-align: center;
}

div.grid-ship2:hover > p {
    display: inline-block;
    visibility: visible;
}

div.grid-ship4:hover > button {
    display: inline-block;
    visibility: visible;
    color: rgb(255, 143, 143);
    border: 1px solid rgb(255, 143, 143);
    cursor: none;
}

.update-text {
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
}

